@import "skeleton/normalize";
@import "skeleton/skeleton";

body {
  padding-top: 1.5em;
  padding-bottom: 5.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222;
}

#find-more {
  animation: animate-in 500ms ease;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

.hide {
  display: none;
}

.selected {
  //background-color: $primary;
  color: $primary;
}

.item {
  transition: all 300ms ease;
  animation: animate-in 500ms;
  float: left;
  display: flex;
  align-items: center;
  @media(min-width: 600px) {
    width: 50%;
  }
  img {
    float: left;
    width: 40px;
    margin-right: 1em;
  }
  .text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
